<html>
<head>
    <style>
        /* .imgs {
            display: flex;
            justify-content: space-around; Distributes space evenly around items
            align-items: center; Centers items vertically
        } */
        .imgs img {
            margin: 0 10px; /* Adjust the value to set the desired space */
        }
    </style>
</head>
<body>
    <div class="imgs">
        <img src="sample.png" alt="" width="500px" height="300px"/>
        <img src="sample2.png" alt="" width="500px" height="300px"/>
    </div>
</body>
</html>